:root {
	--main-bg: #0a0b0d;
	--main-fg: #f1f3f4;

	--result-link-fg: #8ab4f8;
	--result-fg: #babcbe;

	--button-bg: #303134;

	--special-result-border: #202124;
	--special-text-background: #0a0b0d;
	--special-text-color: #f1f3f4;

	--search-container-text-color: #f1f3f4;
	--search-container-background-color: #303134;
	--search-container-background-border: #3c4043;

	--search-form-background-color: #0a0b0d;

	--border: #202124;

	--footer-fg: #babcbe;
	--footer-bg: #080808;

	color-scheme: dark;
}
