:root {
	--main-bg: #3b4252;
	--main-fg: #e5e9f0;

	--result-link-fg: #88c0d0;
	--result-fg: #d8dee9;

	--button-bg: #4c566a;

	--special-result-border: opacity 0;
	--special-text-background: #4c566a;
	--special-text-color: #e5e9f0;

	--search-container-text-color: #e5e9f0;
	--search-container-background-color: #2e3440;
	--search-container-background-border: opacity 0;

	--search-form-background-color: #4c566a;

	--border: opacity 0;

	--footer-fg: #d8dee9;
	--footer-bg: #2e3440;

	color-scheme: dark;
}
